{% extends 'finance/base.html.twig' %}

{% block title %}Create Invoice{% endblock %}

{% block body %}

<div class="container-fluid">

    <h3 class="mb-4">Create Fee Invoice</h3>

    <div class="card p-4 shadow-sm">

        <form method="POST">

            <div class="mb-3">
                <label>Student</label>
                <select name="student_id" class="form-control" required>
                    <option value="">Select Student</option>
                    {% for s in students %}
                        <option value="{{ s.id }}">{{ s.fullName }}</option>
                        
                    {% endfor %}
                </select>
            </div>

            <div class="mb-3">
                <label>Total Amount</label>
                <input type="number" name="totalAmount" class="form-control" required>
            </div>

            <div class="mb-3">
                <label>Due Date</label>
                <input type="date" name="dueDate" class="form-control" required>
            </div>

            <button class="btn btn-success">Create Invoice</button>

        </form>

    </div>

</div>

{% endblock %}